# DataSource Config
spring:
  application:
    name: teainit-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # todo Mysql 配置
    url: jdbc:mysql://localhost:3306/teainit?serverTimezone=Asia/Shanghai
    username: root
    password:
  session:
    timeout: 86400
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
    # redis 配置
  redis:
    # todo Redis 配置
    port: 6379
    host: localhost
    database: 0
    password:
