<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.teainn.project.mapper.system.LoginLogMapper">

    <resultMap id="BaseResultMap" type="top.teainn.project.model.entity.LoginLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="loginAccount" column="loginAccount" jdbcType="BIGINT"/>
            <result property="loginState" column="loginState" jdbcType="TINYINT"/>
            <result property="loginInfo" column="loginInfo" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="loginAddress" column="loginAddress" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="operSystem" column="operSystem" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,loginAccount,loginState,loginInfo,
        ip,loginAddress,browser,
        operSystem,createTime,updateTime,
        isDelete
    </sql>
</mapper>
